.washing-machine-list {
    background-color: rgb(200, 204, 200);
}

.laundary-name {
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
}

.laundary-list-wrapper {
    padding: 8rem 0px;
    overflow-x: scroll;
}

.laundary-list {
    display: flex;
}